<header class="header" role="banner">
    <img src="../../../../hsglogo.svg" alt="Logo der Universität St. Gallen: grüne abstrakte Figur aus Linien, die eine Person darstellen, daneben der Text 'Universität St. Gallen'" class="hsglogo">
    <button 
      class="btn theme-toggle-button"
      (click)="toggleTheme()"
      aria-label="Darstellung wechseln (Hell/Dunkel)"
      title="Darstellung wechseln (Hell/Dunkel)">
      <span class="theme-icon" aria-hidden="true">🌓</span>
    </button>
</header>
<div class="divider"></div>
