footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    background-color: #00802F;
    padding: 10px 0;
}

.footer-content {
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    z-index: 1000;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
