.chat-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
  }
  
  .chat-textarea {
    flex-grow: 1;        /* nimmt den verfügbaren Platz ein */
    resize: none;        /* verhindert Grössenänderung per Drag */
    width: 400px;
  }

  .chat-send-button {
    background-color: #00802F;
    border-color: #00802F;
  }
  