<div class="chat-bar position-relative">
  <label for="messageInput" class="visually-hidden">Nachricht eingeben</label>
  <textarea 
    id="messageInput"
    aria-label="Nachricht eingeben"
    rows="3"
    maxlength="500"
    class="form-control chat-textarea pe-5"
    placeholder="Schreibe eine Nachricht..."
    [(ngModel)]="chatMessage"
    (keydown)="onKeyDown($event)">
  </textarea>

  <!-- Character counter inside textarea -->
  <div class="char-counter-text" aria-live="polite">
    {{ chatMessage.length }}/500
  </div>
  

  <button 
    class="btn btn-success chat-send-button mt-3" 
    [disabled]="!chatMessage.trim()" 
    (click)="addMessage(chatMessage)"
    aria-label="Nachricht senden">
    <strong>Senden</strong>
  </button>

</div>
