/* Reset & Basiseinstellungen */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff; /* Light Mode Hintergrund */
}

/* Container auf volle Höhe */
.container-fluid {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Layoutbereich */
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-color: transparent;
}

/* Nachrichten-Layout */
.message-container {
  text-align: left !important;
}

.message-nickname {
  color: grey;
  font-weight: bold;
  font-size: 12px;
}

/* Host-Setup */
:host {
  display: block;
  height: 100%;
}

/* Dark Mode fix */
[data-bs-theme="dark"] html,
[data-bs-theme="dark"] body,
[data-bs-theme="dark"] app-root,
[data-bs-theme="dark"] .container-fluid {
  background-color: #1a1a1a !important;
}
