<app-header></app-header>
<div class="wrapper">
  <main role="main" aria-label="Chat-Anwendung">
    <h1 class="visually-hidden">{{ title }}</h1>
    <div class="chat-page">
      <div class="chat-content">
        <app-chat-history [history]="fullHistory"></app-chat-history>
      </div>
    
      <div class="chat-footer">
        <app-chat-bar (submitMessage)="messageSubmitted($event)"></app-chat-bar>
      </div>
    </div>
  </main>
</div>
<app-nickname-dialog *ngIf="showNicknameDialog" (nicknameSubmitted)="setNickname($event)"></app-nickname-dialog>
<app-footer></app-footer>


